<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="FoodleDBConnection"
			 connectionString="Server=tcp:ioop-sql-server.database.windows.net,1433;Database=IOOP-DB;User ID=TP081775@mail.apu.edu.my;Password=M0508773203k@;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>